<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${parametro}"></h1>
    <div>
        <h2>Parámetros recibidos por url</h2>
        El parámetro es: <span style="color: cadetblue" th:text="${parametro}"></span>
        el otro parámetro es: <span style="color: #A961B5" th:text="${otroValor}"></span>
    </div >

    <div th:if="${jugador != null}">
        <h2>Parámetros recibidos por Path:</h2>
        El jugador es: <span style="color: cadetblue" th:text="${jugador.getNombre()}"></span> <!-- o también ${jugador.nombre()} -->
        y su número es: <span style="color: cadetblue" th:text="${jugador.getNumero()}"></span> <!-- o también ${jugador.numero()} -->
    </div>
</body>
</html>